@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;700;900&display=swap');
// @import 'reset-css/reset.css';

:root {
    --easing: cubic-bezier(0.5, 0.7, 0.4, 1);
    --primary-color: #212E64;//#212E64 //#483092 //#a41883
    --primary-light-color: #3c4d91;
    --primary-dark-color: #131b3f;
    --secondary-color: #212E64;
    --bg-color: #fff;
    --bg-dark-grey-color: #ececec;
    --bg-grey-color: #f5f5f5;
    --bold-text: #333333;
    --mid-text: #272727;
    --light-text: #909090;
    --white-text: #fff;
    --box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.025);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    background-color: var(--bg-color);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}
h1 {font-size: 4.768rem;color: var(--bold-title-color);}
h2 {font-size: 3.052rem;color: var(--bold-title-color);}
h3 {font-size: 2.3rem;color: var(--bold-title-color);}
h4 {font-size: 1.953rem;color: var(--bold-title-color);}
h5 {font-size: 1.563rem;color: var(--title-color);}
h6 {font-size: 1.25rem;color: var(--title-color);}
p {font-size: 1rem;color: #585858; line-height: 1.5;}
small, .text_small {font-size: 0.8rem;}

.section {
    width: 100%;
    min-height: 100vh;
}

.container {
    max-width: 960px; //1200px
    margin: 0 auto;
    padding: 0 3em;
}

@media screen and (max-width: 580px) {
    .container {
          padding: 0 2em;
    }
}

.btn-primary {
    font-size: 14px;
    border: 1px solid var(--primary-color);
    border-radius: 2px;
    padding: 15px 30px;
    font-family: inherit;
    color: var(--bg-color);
    background-color: var(--primary-color);
    letter-spacing: 2px;
    font-weight: 400;
    cursor: pointer;
    text-transform: uppercase;
    transition: .1s linear;
}
.btn-primary:hover{
    transition: .3s linear;
    color: var(--bg-color);
    background-color: var(--primary-dark-color);
    border: 1px solid var(--primary-dark-color);
}

.btn-secondary {
    font-size: 14px;
    border: 1px solid var(--bg-dark-grey-color);
    border-radius: 2px;
    padding: 15px 30px;
    font-family: inherit;
    color: var(--light-text);
    background-color: rgba(72, 48, 146, 0);
    letter-spacing: 2px;
    font-weight: 600;
    cursor: pointer;
    text-transform: uppercase;
    transition: .1s linear;
}
.btn-secondary:hover{
    transition: .3s linear;
    color: var(--mid-text);
    border: 1px solid var(--primary-light-color);
}

.btn-secondary-alt {
    font-size: 14px;
    border: 1px solid var(--bg-dark-grey-color);
    border-radius: 2px;
    padding: 15px 30px;
    font-family: inherit;
    color: var(--light-text);
    background-color: rgba(72, 48, 146, 0);
    letter-spacing: 2px;
    font-weight: 600;
    cursor: pointer;
    text-transform: uppercase;
    transition: .1s linear;
}
.btn-secondary-alt:hover{
    transition: .3s linear;
    color: var(--white-text);
    border: 1px solid var(--bg-dark-grey-color);
}

// Nav
nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    background-color: #fff;
    box-shadow: var(--box-shadow);
    .nav-content {
        height: 48px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .nav-logo {
            color: var(--mid-text);
            a {
                text-decoration: none;
                text-transform: uppercase;
            }
        }
        .nav-links {
            a {
                font-size: 14px;
                text-decoration: none;
                text-transform: capitalize;
                color: var(--light-text);
                margin-left: 20px;
            }
            a:hover {
                color: var(--bold-text);
            }
            a:active, a.active {
                color: var(--primary-dark-color);
            }
        }
    }
}


// hero-section
.hero {
    background: url(../assets/plane.jpg) no-repeat;
    background-size: cover;
    background-position: center right;
    height: 100vh;
    .hero-section-content {
        padding-top: 30vh;
        h2 {
            color: var(--primary-dark-color);
        }
        p {
            max-width: 45ch;
            margin-top: 10px;
        }
        button {
            margin-top: 20px;
        }
    }
}


// overview-section
.overview {
    .overview-content {
        margin-top: 6rem;
        margin-bottom: 6rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 40px;
        .overview-imgcontainer {
            height: 100%;
            width: 100%;
            background-color: lightgray;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .overview-copy {
            h3 {
                color: var(--primary-dark-color);
            }
            p {
                margin-top: 20px;
            }
            button {
                margin-top: 20px;
            }
        }
    }
    @media screen and (max-width: 580px) {
        .overview-content {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 40px;
            .overview-imgcontainer {
                height: 420px;
            }
        }
    }
}

// quote
.clients {
    width: 100%;
    min-height: 100vh;
    background-color: #ececec;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #212E64;
    .clients-copy{
        margin: auto 0;
        small {
            color: var(--light-text);
        }
        h3 {
            color: #fff;
        }
        p {
            color: var(--light-text);
            margin-top: 20px;
        }
        button {
            margin-top: 20px;
        }
    }
    .clients-imgcontainer {
        background-color: #ececec;
        height: 100%;
        width: 100%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    @media screen and (max-width: 580px) {
        .clients {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
        }
    }
}

// features
// .features {
//     min-height: 100vh;
//     background-color: #ececec;
// }

.footer {
    min-height: 100vh;
    background-color: #ececec;
    .footer-content {
        padding-top: 6rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        .footer-content-nav {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
    }
}


// contact
.contact {
    .contact-content {
        margin-top: 6rem;
        margin-bottom: 6rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 40px;
        .contact-imgcontainer {
            height: 100%;
            width: 100%;
            background-color: lightgray;
            iframe {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .contact-copy {
            p {
                margin-top: 20px;
            }
            .contact-form {
                margin-top: 20px;
                display: flex;
                flex-direction: column;
                input, textarea, input[type=submit] {
                    margin-top: 10px;
                }
                input, textarea {
                    width: 100%;
                    padding: 12px 20px;
                    margin: 8px 0;
                    display: inline-block;
                    border: 1px solid #ccc;
                    border-radius: 2px;
                    box-sizing: border-box;
                    transition: .1s linear;
                }
                input:hover, textarea:hover {
                    border: 1px solid var(--primary-light-color);
                    transition: .3s linear;
                }
            }
        }
    }
    @media screen and (max-width: 580px) {
        .contact-content {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 40px;
            .contact-imgcontainer {
                height: 420px;
            }
        }
    }
}